select.desc-opcao {
  width: 80%;
  margin: 5%;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 5px;
  font-size: 120%;
}

.form {
  display: grid;
  background: #FFFFFF;
  max-width: 450px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  background: #f2f2f2;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

.default-page {
  display: flex;
  width: 360px;
  padding: 8% 0 0;
  margin: 0 40%;
}

.rodape{
  position: fixed;
  bottom: 0;
}