.form {
  display: grid;
  background: #FFFFFF;
  max-width: 450px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.default-page {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.id {
  flex-basis: 10%;
}
.usuario {
  flex-basis: 20%;
}
.nivel {
  flex-basis: 15%;
}
.delete {
  flex-basis: 5%;
}

img{
  width: 30px;
}
