.default-page {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.conteiner-formulario {
  display: flex;
  justify-content: center;
  padding: 0 0 50px;
}

#form1 {
  margin: 1% 0;
  border: none;
  border-bottom: 1px solid #000;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
}

div .botao {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #000;
  font-weight: bold;
}

div .botao:hover {
  cursor: pointer;
}

.nome {
  flex-basis: 5%;
}
.sobrenome {
  flex-basis: 5%;
}
.email {
  flex-basis: 10%;
}
.telefone {
  flex-basis: 5%;
}
.mensagem {
  flex-basis: 5%;
}
.termo {
  flex-basis: 5%;
}

.rodape {
  width: 100%;
  text-align: center;
}