.conteiner-geral {
  font-family: 'Roboto', sans-serif;
}

.subnav {
  position: relative;
  display: flex;
  font-size: 110%;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #157;
  font-family: 'Roboto', sans-serif;
}

.subnav li {
  margin: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabnav:hover {
  border-bottom: 1px solid #fff;
  transition: 0.5s ease-out;

}

.subnav li a {
  color: #fff;
  text-decoration: none;
}