.subnav {
  position: relative;
  display: flex;
  font-size: 110%;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #157;
  font-family: 'Roboto', sans-serif;
}

.subnav li {
  margin: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabnav:hover{
  position: fixed;
  border-bottom: 2px solid #fff;
  font-size: 130%;
  transition: 0.5s ease-out;
}

.subnav li a {
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}