.conteiner-img-term {
    min-height: 490px;
    background-image: url(../img/termo_dados/termo-dados.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Term-use {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 130%;
    margin: 3% 35%;
}

.Term-use p {
    font-size: 80%;
    margin: 3% 0;
}

.Dados {
    text-align: start;
    font-size: 80%;
}